<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.lxj.mapper.AttendanceMapper">

    <insert id="insertAttendance" parameterType="cc.mrbird.febs.lxj.entity.Attendance">
        INSERT INTO attendance
        (id, createdTime, address, baseMacAddr, checkTime, corpId, latitude, bizId, locationMethod, deviceName,
         deviceSN, userId, sourceUserId)
        VALUES (#{id}, #{createdTime}, #{address}, #{baseMacAddr}, #{checkTime}, #{corpId}, #{latitude}, #{bizId},
                #{locationMethod}, #{deviceName},
                #{deviceSN}, #{userId}, #{sourceUserId})
    </insert>

    <insert id="insertAttendances" parameterType="cc.mrbird.febs.lxj.entity.Attendance">
        INSERT INTO attendance
        (id, createdTime, address, baseMacAddr, checkTime, corpId, latitude, bizId, locationMethod, deviceName,
        deviceSN, userId, sourceUserId)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.createdTime}, #{item.address}, #{item.baseMacAddr}, #{item.checkTime}, #{item.corpId},
            #{item.latitude}, #{item.bizId}, #{item.locationMethod}, #{item.deviceName},
            #{item.deviceSN}, #{item.userId}, #{item.sourceUserId})
        </foreach>
    </insert>
    <select id="countAttendanceNum" parameterType="cc.mrbird.febs.lxj.params.AttendanceDetailParams"
            resultType="java.lang.Long">
        select count(1) from attendance where 1 = 1
        <if test="attendanceDetailParams != null">
            <if test="attendanceDetailParams.name != null and '' != attendanceDetailParams.name">
                and sourceUserId in (select sourceUserId from org_user where org_user.name like
                '%${attendanceDetailParams.name}%')
            </if>
            <if test="attendanceDetailParams.checkTime != null">
                and date_format(checkTime,'%Y-%m-%d') = #{attendanceDetailParams.checkTime}
            </if>
        </if>
    </select>
    <select id="getAttendanceDetailList" parameterType="cc.mrbird.febs.lxj.params.AttendanceDetailParams"
            resultType="cc.mrbird.febs.lxj.entity.ReturnAttendance">
        select o1.id,o2.oname as name,o1.createdTime,o1.address as address,o1.baseMacAddr,o1.checkTime from
        (select id,createdTime,address,baseMacAddr,checkTime,userId from attendance) as o1
        left join
        (select org_user.name oname,org_user.id oid from org_user) as o2
        on o2.oid = o1.userId
        where 1 = 1
        <if test="attendanceDetailParams != null">
            <if test="attendanceDetailParams.name != null and '' != attendanceDetailParams.name">
                and o2.oname like '%${attendanceDetailParams.name}%'
            </if>
            <if test="attendanceDetailParams.checkTime != null">
                and date_format(checkTime,'%Y-%m-%d') = #{attendanceDetailParams.checkTime}
            </if>
        </if>
    </select>
    <select id="countPersonalAttendanceNum" resultType="java.lang.Long">
        select count(1) from personal_attendance where 1 = 1
        <if test="attendanceDetailParams != null">
            <if test="attendanceDetailParams.name != null and '' != attendanceDetailParams.name">
                and userId in (select id from org_user where org_user.name like '%${attendanceDetailParams.name}%')
            </if>
            <if test="attendanceDetailParams.checkTime != null">
                and date_format(work_time,'%Y-%m-%d') = #{attendanceDetailParams.checkTime}
            </if>
        </if>
    </select>
    <!-- select * from personal_attendance as o1
 LEFT JOIN
 (select org_user.name oname,org_user.id oid from org_user) as o2 on o2.oid = o1.userId where 1 = 1 and o2.oname like '%刘%'-->
    <select id="getPersonalAttendanceList" resultType="cc.mrbird.febs.lxj.entity.ReturnPersonalAttendance">
        select o1.id,o2.oname as name,o3.deptName dept,o1.work_time as workTime,o1.duration from
        (select id,userId,departmentId,work_time,duration from personal_attendance) as o1
        left join
        (select org_user.name oname,org_user.id oid from org_user) as o2
        on o1.userId = o2.oid
        left join
        (select id,name as deptName from org_department) as o3
        on o1.departmentId = o3.id
        where 1 = 1
        <if test="attendanceDetailParams != null">
            <if test="attendanceDetailParams.name != null and '' != attendanceDetailParams.name">
                and o2.oname like '%${attendanceDetailParams.name}%'
            </if>
            <if test="attendanceDetailParams.checkTime != null">
                and date_format(work_time,'%Y-%m-%d') = #{attendanceDetailParams.checkTime}
            </if>
        </if>
    </select>
    <select id="countPersonalAttendanceDetailNum" resultType="java.lang.Long">
        select count(1) from personal_attendance_detail where 1 = 1
        <if test="attendanceDetailParams.name != null and '' != attendanceDetailParams.name">
            and userId in (select id from org_user where org_user.name like '%${attendanceDetailParams.name}%')
        </if>
        <if test="attendanceDetailParams.checkTime != null">
            and date_format(work_time,'%Y-%m-%d') = #{attendanceDetailParams.checkTime}
        </if>
    </select>
    <select id="getPersonalAttendanceDetailList" resultType="cc.mrbird.febs.lxj.entity.PersonalAttendanceDetail">
        select * from personal_attendance_detail where 1 = 1
        <if test="attendanceDetailParams.name != null and '' != attendanceDetailParams.name">
            and userId in (select id from org_user where org_user.name like '%${attendanceDetailParams.name}%')
        </if>
        <if test="attendanceDetailParams.checkTime != null">
            and date_format(work_time,'%Y-%m-%d') = #{attendanceDetailParams.checkTime}
        </if>
    </select>

</mapper>