<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.mrbird.febs.lxj.mapper.AttendanceMachineMapper">
    <!--添加考勤机-->
    <insert id="addMachine">
        insert into sys_attendance_machine(id,team_info,mac) value(replace(uuid(),'-',''),'',#{mac})
    </insert>
    <!--添加班组的时批量插入考勤机-->
    <insert id="addMachines">
        insert into sys_attendance_machine(id,team_info,mac) values
        <foreach collection="macList" item="mac" index="index" separator=",">
            (replace(uuid(),'-',''),#{teamId},#{mac})
        </foreach>
    </insert>
    <!--更新考勤机-->
    <update id="updateMachine" parameterType="cc.mrbird.febs.lxj.entity.AttendanceMachine">
        update sys_attendance_machine
        <trim prefix="set" prefixOverrides=",">
            <if test="teamInfo != null and teamInfo != ''">team_info = #{teamInfo},</if>
            <if test="mac != null and mac !=''">mac = #{mac}</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateMachineTeam">
        update sys_attendance_machine set team_info = #{teamId} where mac in
        <foreach collection="macList" separator="," open="(" close=")" item="mac" index="index">
            #{mac}
        </foreach>
    </update>
    <!--根据班组id实现考勤机解绑-->
    <update id="updateMachineByTeamIds">
        update sys_attendance_machine set team_info = ''
        where team_info in
        <foreach collection="ids" separator="," open="(" close=")" item="id" index="index">
            #{id}
        </foreach>
    </update>
    <!--删除考勤机-->
    <delete id="deleteMachine">
        delete from sys_attendance_machine where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteMachineByMacs">
        delete from sys_attendance_machine where mac in
        <foreach collection="list" item="mac" open="(" close=")" separator=",">
            #{mac}
        </foreach>
    </delete>
    <delete id="deleteMachineByTeamId">
        delete from sys_attendance_machine where team_info = #{teamId}
    </delete>
    <!--根据mac获取考勤机数据-->
    <select id="getAttendanceMachineByMac" parameterType="java.lang.String"
            resultType="cc.mrbird.febs.lxj.entity.AttendanceMachine">
        SELECT *
        FROM sys_attendance_machine
        WHERE mac = #{mac}
    </select>
    <select id="getAllMachine" parameterType="attendanceMachine"
            resultType="cc.mrbird.febs.lxj.entity.AttendanceMachine">
        select * from sys_attendance_machine where 1=1
        <if test="attendanceMachine.mac != null and ''!= attendanceMachine.mac ">
            and mac = #{attendanceMachine.mac}
        </if>
    </select>
    <select id="countMachineNum" parameterType="attendanceMachine" resultType="java.lang.Long">
        select count (1) from sys_attendance_machine where 1 =1
        <if test="attendanceMachine.mac !=null and ''!= attendanceMachine.mac ">
            and mac = #{attendanceMachine.mac}
        </if>
    </select>
    <select id="getMachines" resultType="cc.mrbird.febs.lxj.entity.AttendanceMachine">
        select * from sys_attendance_machine
    </select>
    <select id="getMachineByTeamId" resultType="string">
        select mac from sys_attendance_machine where team_info = #{id}
    </select>

</mapper>