<style>
    #user-update {
        padding: 20px 25px 25px 0;
    }
    #user-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="user-update">
    <form class="layui-form" action="" lay-filter="user-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">班组id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" data-th-value="${teamInfo.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">班组名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" minlength="4" maxlength="10" data-th-id="${teamInfo.name}"
                       lay-verify="range|name" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">考勤机：</label>
            <div class="layui-input-block">
                <select name="roleId"
                        lay-verify="required"
                        xm-select-direction="down"
                        xm-select="user-update-role"
                        xm-select-skin="default">
                </select>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">打卡时间：</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <input type="text" name="date" id="febs-form-group-date"
                           placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">弹性工作时间：</label>
            <div class="layui-input-block">
                <input type="text" name="flexibleWorkTime" maxlength="50" autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="user-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            teamInfo = [[${teamInfo}]],
            machines = [[${machines}]],
            $view = $('#user-update'),
            validate = layui.validate;

        form.verify(validate);
        form.render();
        initUserValue();
        formSelects.render();
        formSelects.config('user-update-role', {
            searchUrl: ctx + 'controller/attendanceMachine/getAllMachines?status=update',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].mac,
                        value: data[i].mac
                    })
                }
                result.data = tranData;
                return result;
            },
            success: function () {
                var s = machines.toString();  //把数组转换为字符串
                formSelects.value('user-update-role', s.split(','));
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取考勤机列表失败');
            }
        });

        function initUserValue() {
            form.val("user-update-form", {
                "name": teamInfo.name,
                "flexibleWorkTime": teamInfo.flexibleWorkTime,
                "date": teamInfo.punchTime,
                "id": teamInfo.id
            });
        }

        form.on('submit(user-update-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, teamInfo)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            var objs = {teamInfo:''};
            var obj = {};
            obj.id = data.field.id;
            obj.name = data.field.name;
            obj.punchTime = data.field.date;
            obj.flexibleWorkTime = data.field.flexibleWorkTime;
            objs.teamInfo = obj;
            objs.macs = data.field.roleId;
            $.ajax({
                url:ctx + 'controller/team/updateTeam',
                type:"POST",
                data:JSON.stringify(objs),
                contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
                success:function(res){
                    layer.closeAll();
                    febs.alert.success('修改班组成功');
                    $('#febs-user').find('#query').click();
                }
            });
            return false;
        });
    });
</script>